<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site list</title>
</head>
<body>
    <div id="root"></div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<script type="text/babel">
    function SiteList(props) {
      const sites = props.sites;
      const listItems = sites.map((site) =>
        <li key={site.toString()}>
          {site}
        </li>
      );
      return (
        <ul>{listItems}</ul>
      );
    }

    class Greeting extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                sites: []
            };
        }

        componentDidMount() {
            var that = this;
            axios.get('/service')
              .then(function (response) {
                    console.log(response);
                    that.setState({ sites: response.data.sites });
              })
              .catch(function (error) {
                    console.log(error);
              });
        }

        render() {
            return (<SiteList sites={this.state.sites} />);
        }
    }
    ReactDOM.render(
        <Greeting />,
        document.getElementById('root')
    );
</script>